NET "clk"         LOC = "B8";
NET "btnUp"      LOC = "B18";
NET "btnDown"      LOC = "D18";
NET "btnLeft"      LOC = "E18";
NET "btnRight"      LOC = "H13";
NET "btnUp" CLOCK_DEDICATED_ROUTE = FALSE;
NET "btnDown" CLOCK_DEDICATED_ROUTE = FALSE;
NET "btnLeft" CLOCK_DEDICATED_ROUTE = FALSE;
NET "btnRight" CLOCK_DEDICATED_ROUTE = FALSE;

## VGA Connector 
NET "vga_R[0]"   LOC = "R9";
NET "vga_R[1]"   LOC = "T8";
NET "vga_R[2]"   LOC = "R8";
NET "vga_G[0]" LOC = "N8";
NET "vga_G[1]" LOC = "P8";
NET "vga_G[2]" LOC = "P6";
NET "vga_B[0]"  LOC = "U5";
NET "vga_B[1]"  LOC = "U4";

NET "vga_h_sync"       LOC = "T4";
NET "vga_v_sync"       LOC = "U3";

NET "DispSelect[3]" LOC = F15; 		//add the pins for your FPGA here
NET "DispSelect[2]" LOC = C18;
NET "DispSelect[1]" LOC = H17;
NET "DispSelect[0]" LOC = F17;
NET "SevenSegValue[0]" LOC = C17;
NET "SevenSegValue[1]" LOC = H14;
NET "SevenSegValue[2]" LOC = J17;
NET "SevenSegValue[3]" LOC = G14;
NET "SevenSegValue[4]" LOC = D16;
NET "SevenSegValue[5]" LOC = D17;
NET "SevenSegValue[6]" LOC = F18;
NET "SevenSegValue[7]" LOC = L18;